Bitmap_1 Bitmap "Textures\\ActIcon\\S_Actor.bmp"
Bitmap_5 Bitmap "Textures\\ActIcon\\S_Keypoint.bmp"
Bitmap_3 Bitmap "Textures\\ActIcon\\S_Camera.bmp"
Bitmap_4 Bitmap "Textures\\ActIcon\\S_Inventory.bmp"
Bitmap_2 Bitmap "Textures\\ActIcon\\S_Alarm.bmp"
Bitmap_6 Bitmap "Textures\\ActIcon\\S_NavP.bmp"
Bitmap_7 Bitmap "Textures\\ActIcon\\S_Pawn.bmp"
Bitmap_9 Bitmap "Textures\\ActIcon\\S_Trigger.bmp"
Bitmap_8 Bitmap "Textures\\ActIcon\\S_Teleport.bmp"
